body {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: inherit;

  border-bottom: 1px solid;
}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden {*/
/*  position: absolute;*/

/*  width: 1px;*/
/*  height: 1px;*/
/*  margin: -1px;*/
/*  border: 0;*/
/*  padding: 0;*/

/*  white-space: nowrap;*/

/*  clip-path: inset(100%);*/
/*  clip: rect(0 0 0 0);*/
/*  overflow: hidden;*/
/*}*/

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #fefefe;

  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to top, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d74632 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.company-logo {
  border: none;
}

.site-navigation a {
  font-weight: 700;
  line-height: 18px;

  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.catalog-sub-menu {
  background-color: #f8f7f4;
  list-style: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-sub-menu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  border: none;
}

.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
  background-color: #fbded8;
}

.catalog-sub-menu a:active {
  background-color: #f6b5a5;
}

a.sub-menu-special {
  font-weight: 700;
}

.user-navigation {
  list-style: none;
}

.user-navigation > li > a {
  border: none;
}

.user-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus {
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

.header-search-form,
.header-login-form,
.user-cart-dropdown {
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.login-form-links {
  list-style: none;
}

.login-form-links a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  background-color: transparent;
}

.login-form-links a:hover,
.login-form-links a:focus,
.login-form-links a:active {
  font-weight: 400;
  color: #e84d37;

  background-color: transparent;
}

a.user-cart-filled {
  color: #323232;
  background-color: rgba(248, 247, 244, 0.99);
}

.cart-contains {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart-contains-image img {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.cart-contains-amount span {
  color: rgba(50, 50, 50, 0.6);
}

.cart-contains-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.header-contacts-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.contacts-info-phone a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  border: none;
}

.promo-popular,
.catalog-list {
  list-style: none;
}

.promo-popular h3,
.catalog-item h3 {
  font-weight: 500;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.promo-popular-item img,
.catalog-item img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.promo-popular .price,
.catalog-item .price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}

.promo-popular .weight,
.catalog-item .weight {
  font-size: 30px;
}

.features {
  color: #323232;

  background-color: #e9dbbe;
  background-image: url("../img/bg-wafer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features .lead {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  list-style: none;
}

.blog-article {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  background-color: #ffffff;
}

.blog-article h2 {
  font: inherit;
  font-weight: 500;
}

.blog-article-lead a {
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscribe {
  color: #5a5a5a;

  background-color: #f8f7f4;
}

/* -- -- -- -- -- Inner page -- -- -- -- -- */

.breadcrumbs {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs,
.breadcrumbs a {
  font: inherit;

  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.3);
}

.page-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.filter-group {
  border: none;
}

.filter-group legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.group-sorting select {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  color: inherit;

  background-color: rgba(248,247,244, 0.2);
  border: none;
}

.group-sorting select:hover,
.group-sorting select:focus {
  color: #323232;

  background-color: #ffffff;
}

.group-sorting option {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.filter-group label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.group-cost-range,
.group-cost-range label,
.group-cost-range input[type="number"] {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: inherit;

  background-color: transparent;
  border: none;
}

.group-fat-list {
  list-style: none;
}

.group-fill-list {
  list-style: none;
}

.pagination-list {
  font-weight: 500;
  line-height: 18px;
  list-style: none;
}

.pagination-item a {
  font: inherit;

  border: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-previous a,
.pagination-previous a:hover,
.pagination-previous a:focus,
.pagination-previous a:active,
.pagination-next a,
.pagination-next a:hover,
.pagination-next a:focus,
.pagination-next a:active {
  background-color: transparent;
}

.pagination-item .disabled,
.pagination-item .disabled:hover,
.pagination-item .disabled:focus,
.pagination-item .disabled:active {
  color: rgba(255, 255, 255, 0.2);
}

/* -- -- -- -- -- Footer -- -- -- -- -- */

.inner-page .page-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.footer-social a {
  font: inherit;
  color: rgba(255, 255, 255, 0.8);

  border: none;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #ffffff;
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.8);
}

.footer-references {
  list-style: none;
}

.footer-references a {
  font: inherit;
  font-size: 13px;
  line-height: 18px;

  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.footer-references a.reference-accent {
  font-weight: 700;
}

.footer-copyrights {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyrights a {
  font: inherit;
  color: #fefefe;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.footer-copyrights a.developer-logo {
  border: none;
}

.modal-write-us {
  color: #323232;

  background-color: #f8f7f4;
}

.modal-write-us h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

}
