.@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes modalAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration-skip-ink: none;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 11px 25px 9px 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  text-align: center;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(#f26843, #e74a35);
  background-image: -o-linear-gradient(#f26843, #e74a35);
  background-image: linear-gradient(#f26843, #e74a35);
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
 box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  color: #fefefe;

  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(#f58669, #ec6f5e);
  background-image: -o-linear-gradient(#f58669, #ec6f5e);
  background-image: linear-gradient(#f58669, #ec6f5e);
  -webkit-box-shadow: 0 2px 2px #ac1000;
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d74632), to(#e1613e));
  background-image: -webkit-linear-gradient(#d74632, #e1613e);
  background-image: -o-linear-gradient(#d74632, #e1613e);
  background-image: linear-gradient(#d74632, #e1613e);
  -webkit-box-shadow: inset 0 2px 2px #942718;
  box-shadow: inset 0 2px 2px #942718;
}

.button-light {
  display: inline-block;
  padding: 10px 28px 8px 30px;

  color: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.19);
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.button-light:hover,
.button-light:focus {
  color: #323232;

  background-color: #ffffff;

  cursor: pointer;
}

.button-light:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.form-input {
  padding: 9px 14px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-input:hover {
  -webkit-box-shadow: inset 0px 0px 0px 1px #d3d3d2;
  box-shadow: inset 0px 0px 0px 1px #d3d3d2;
}

.form-input:focus {
  border-color: #92c1f1;
  -webkit-box-shadow: inset 0px 0px 0px 1px #92c1f1;
  box-shadow: inset 0px 0px 0px 1px #92c1f1;
  outline: none;
}

.modified-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lead {
  color: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

a.lead {
  font-weight: 700;
  text-decoration: underline;

  border: none;
}

.dropdown-wrapper {
  position: relative;
}

.popup {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: none;
  padding: 20px 15px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-wrapper:hover .popup,
.dropdown-wrapper:focus-within .popup {
  display: block;
}

.popup input::-webkit-input-placeholder,
.popup textarea::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input:-ms-input-placeholder,
.popup textarea:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input::-ms-input-placeholder,
.popup textarea::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.popup input::placeholder,
.popup textarea::placeholder {
  font-weight: 400;
  color: #999999;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.align-right-wrapper {
  text-align: right;
}

.layout-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.layout-column {
  width: 560px;
}

.promo-theme-1 {
  background-color: #849d8f;
  background-image: -webkit-radial-gradient(rgb(207, 246, 225) 20px, rgba(207, 246, 225, 0.75) 150px, rgba(207, 246, 225, 0.5) 250px, rgba(207, 246, 225, 0.38) 310px, rgba(207, 246, 225, 0.15) 420px, transparent 522px);
  background-image: -o-radial-gradient(rgb(207, 246, 225) 20px, rgba(207, 246, 225, 0.75) 150px, rgba(207, 246, 225, 0.5) 250px, rgba(207, 246, 225, 0.38) 310px, rgba(207, 246, 225, 0.15) 420px, transparent 522px);
  background-image: radial-gradient(rgb(207, 246, 225) 20px, rgba(207, 246, 225, 0.75) 150px, rgba(207, 246, 225, 0.5) 250px, rgba(207, 246, 225, 0.38) 310px, rgba(207, 246, 225, 0.15) 420px, transparent 522px);
  background-repeat: no-repeat;
  background-position: 50% -164px;
  background-size: 1045px 1045px;
}

.promo-theme-2 {
  background-color: #8996a6;
  background-image: -webkit-radial-gradient(rgb(203, 223, 239) 20px, rgba(203, 223, 239, 0.75) 150px, rgba(203, 223, 239, 0.5) 250px, rgba(203, 223, 239, 0.38) 310px, rgba(203, 223, 239, 0.15) 420px, transparent 522px);
  background-image: -o-radial-gradient(rgb(203, 223, 239) 20px, rgba(203, 223, 239, 0.75) 150px, rgba(203, 223, 239, 0.5) 250px, rgba(203, 223, 239, 0.38) 310px, rgba(203, 223, 239, 0.15) 420px, transparent 522px);
  background-image: radial-gradient(rgb(203, 223, 239) 20px, rgba(203, 223, 239, 0.75) 150px, rgba(203, 223, 239, 0.5) 250px, rgba(203, 223, 239, 0.38) 310px, rgba(203, 223, 239, 0.15) 420px, transparent 522px);
  background-repeat: no-repeat;
  background-position: 50% -164px;
  background-size: 1045px 1045px;
}

.promo-theme-3 {
  background-color: #9d8b84;
  background-image: -webkit-radial-gradient(rgb(241, 219, 210) 20px, rgba(241, 219, 210, 0.75) 150px, rgba(241, 219, 210, 0.5) 250px, rgba(241, 219, 210, 0.38) 310px, rgba(241, 219, 210, 0.15) 420px, transparent 522px);
  background-image: -o-radial-gradient(rgb(241, 219, 210) 20px, rgba(241, 219, 210, 0.75) 150px, rgba(241, 219, 210, 0.5) 250px, rgba(241, 219, 210, 0.38) 310px, rgba(241, 219, 210, 0.15) 420px, transparent 522px);
  background-image: radial-gradient(rgb(241, 219, 210) 20px, rgba(241, 219, 210, 0.75) 150px, rgba(241, 219, 210, 0.5) 250px, rgba(241, 219, 210, 0.38) 310px, rgba(241, 219, 210, 0.15) 420px, transparent 522px);
  background-repeat: no-repeat;
  background-position: 50% -164px;
  background-size: 1045px 1045px;
}

.page-header {
  padding-top: 9px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-logo {
  margin-right: 10px;

  border: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 14px;
}

.site-navigation-item {
  margin-right: 3px;
  margin-bottom: 10px;
}

.site-navigation-item:last-of-type {
  margin-right: 0;
}

.site-navigation-link {
  display: block;
  padding: 7px 12px 6px 13px;

  font-weight: 700;
  line-height: 18px;

  border: none;
  border-radius: 25px;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #000000;

  background-color: #f7f6f3;
  border: none;
}

.site-navigation-link:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-link:hover span,
.site-navigation-link:focus span {
  border: none;
}

.site-navigation-current > a,
.site-navigation-current > a:not([href]):hover,
.site-navigation-current > a:not([href]):active {
  color: inherit;

  background-color: #d07058;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.site-navigation-current span {
  border: none;
}

.catalog-sub-menu {
  top: 37px;
  left: -7px;

  width: 143px;
  padding: 2px 0 4px 0;

  font-size: 14px;
  line-height: 16px;
}

.catalog-sub-menu-item {
  margin: 3px 0;
}

.catalog-sub-menu a {
  display: block;
  width: 100%;
  padding: 6px 20px;
  
  border: none;
}

.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
  color: inherit;

  background-color: #fbded8;
}

.catalog-sub-menu a:active {
  background-color: #f6b5a5;
}

.sub-menu-special {
  position: relative;

  margin-bottom: 10px;

  font-weight: 700;
}

.sub-menu-special::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 5px;

  width: 128px;
  height: 1px;

  background-color: #353535;
  opacity: 0.2;
}

.sub-menu-current,
.sub-menu-current:not([href]):hover {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-left: auto;
}

.user-navigation-item {
  margin-right: 10px;
}

.user-navigation-item:last-of-type {
  margin-right: 0;
}

.user-navigation-link {
  position: relative;

  display: block;
  padding: 8px 17px 8px 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #000000;

  background-color: #f8f7f4;
}

.user-navigation-link:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.user-navigation-icon {
  position: absolute;

  top: 6px;
  left: 16px;

  fill: currentColor;
}

.user-navigation-link.search-link {
  width: 32px;
  height: 32px;
  padding: 0;
}

.user-navigation-link.search-link .user-navigation-icon {
  top: 7px;
  left: 8px;
}

.header-search-form {
  width: 341px;
}

.header-search-form input {
  width: 100%;
}

.header-search-form p {
  margin: 0;
}

.header-login-form {
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.header-login-form p {
  margin: 0;
}

.header-login-form input {
  width: 100%;
  margin-bottom: 20px;
}

.header-login-form .button {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.login-form-links > li {
  max-width: 125px;
  margin-right: 3px;
  margin-bottom: -4px;
}

.login-form-links a {
  font-size: 13px;
  line-height: 24px;

  background-color: transparent;
  border-bottom-color: rgba(50, 50, 50, 0.3);
}

.login-form-links a:hover,
.login-form-links a:focus,
.login-form-links a:active {
  color: #e84d37;

  background-color: transparent;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.user-cart-filled {
  color: #323232;
  background-color: #f8f7f4;
}

.user-cart-dropdown {
  width: 540px;
  padding: 20px 14px 21px 15px;

  text-align: right;
}

.cart-contains {
  position: relative;

  width: 510px;
  margin-bottom: 30px;

  font-size: 13px;
  line-height: 16px;
  text-align: left;

  border-collapse: collapse;
}

.cart-contains:after {
  content: "";
  position: absolute;
  bottom: -16px;

  width: 100%;
  height: 1px;

  background-color: #cacac7;
}

.cart-contains-item {
  border-bottom: 16px solid transparent;
  vertical-align: top;
}

.cart-contains-item:last-child {
  border: none;
}

.cart-contains-cell {
  padding-top: 9px;
  padding-right: 8px;
}

.catr-contains-delete {
  width: 21px;
  padding-right: 0;
}

.catr-contains-delete .delete {
  display: block;
  width: 15px;
  height: 25px;

  background-color: transparent;
  background-image: url("../img/close-x-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0px;
  border: none;

  cursor: pointer;
}

.cart-contains-image {
  width: 43px;
  height: 33px;
  padding: 0;

  text-align: center;
}

.cart-contains-image img {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.cart-contains-title {
  width: 233px;
  padding-left: 8px;
}

.cart-contains-amount{
  width: 125px;

  text-align: right;
}

.cart-contains-amount span {
  color: rgba(50, 50, 50, 0.6);
}

.cart-contains-cost {
  width: 88px;
  padding-right: 20px;

  text-align: right;
}

.cart-contains-total {
  margin: 0;
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.user-cart-submit {
  padding: 10px 15px;
}

.header-contacts-info {
  margin-top: -6px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contacts-info p {
  margin: 0;
  margin-bottom: 4px;
}

.contacts-info-phone a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  border: none;
}

.promo-slider {
  position: relative;

  margin-bottom: 26px;
}

.promo-slider-item {
  position: relative;

  display: none;
  height: 500px;

  text-align: center;
}

.promo-slider-item-current {
  display: block;
}

.promo-slider-image {
  z-index: -1;
  position: absolute;
  top: -38px;
  left: 50%;
  
  display: block;
  margin: 0 auto;
  
  background-position: center;
  background-size: contain;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.promo-slider-caption {
  position: absolute;
  bottom: 49px;
  left: 50%;

  width: 680px;
  margin-left: -340px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
}

.promo-slider-button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  
  padding: 9px 41px 11px;
  
  font-size: 32px;
  line-height: 44px;
  
  border-radius: 50px;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.promo-slider-navigation {
  position: absolute;
  left: 0;
  bottom: 34px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-slider-navigation-item {
  margin-right: 8px;
}

.promo-slider-dot {
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;

  cursor: pointer;
}

.promo-slider-dot:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.promo-slider-dot:active,
.promo-slider-dot:disabled {
  background-color: #ffffff;

  cursor: auto;
}

.promo-cards {
  margin-bottom: 40px;
}

.promo-cards-item {
  padding: 16px 21px 23px 19px;

  border-radius: 13px;
}

.promo-card-chocolate {
  background-color: #8d2742;
  background-image: url("../img/promo-bg-chocolate.jpg");
  background-position: -218px -104px;
}

.promo-card-raspberries {
  background-color: #8d2742;
  background-image: url("../img/promo-bg-raspberries.jpg");
  background-position: -50px -94px;
}

.promo-card-lead {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.promo-card-text {
  margin: 0;
  margin-bottom: 44px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.promo-card-batton {
  padding: 10px 22px 12px;
}

.main-promo .catalog-list {
  margin-bottom: 0;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 42px;
}

.catalog-item {
  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 37px;

  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  position: relative;

  margin: 0;
  margin-top: 8px;
  padding: 0 5px;

  font-size: inherit;
  vertical-align: bottom;
  font-weight: 500;
}

.catalog-item img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.catalog-item .price {
  position: absolute;
  top: 164px;
  left: -2px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;

  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item .cost{
  padding-left: 4px;
}

.catalog-item .weight {
  font-size: 30px;
}

.catalog-item .button {
  position: absolute;
  bottom: -52px;
  left: 33px;
  right: 34px;

  display: none;
  padding: 10px 0;
}

.catalog-item-image {
  position: relative;
  margin: 0;
}

.catalog-item-hit .catalog-item-image::before {
  content: "Хит";

  position: absolute;

  width: 61px;
  height: 61px;

  text-indent: -9999px;

  background-image: url("../img/hit-mark.svg");
}

.catalog-item:hover {
  z-index: 1;
}

.catalog-item:hover::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -74px;
  left: -13px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  }

.catalog-item .catalog-item-bg {
  position: absolute;
  top: -6px;
  left: -13px;

  display: none;
  width: 293px;
  height: 405px;

  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(248,247,244, 0.2);
  border-radius: 5px;
}

.catalog-item:hover .catalog-item-bg {
  display: block;
}

.catalog-item:hover .button {
  display: block;
}

.features {
  padding: 25px 21px 15px 20px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #e9dbbe;
  background-image: url("../img/bg-wafer.jpg");
  border-radius: 14px;
}

.features .lead {
  margin: 0;
  margin-bottom: 8px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-item {
  width: 540px;
  margin-bottom: 9px;
  padding: 13px 5px 0px 56px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-ice-cream {
  background-image: url("../img/features-icecream.svg");
}

.features-item-cow {
  background-image: url("../img/features-cow.svg");
}

.features-item-natural {
  background-image: url("../img/features-leaf.svg");
}

.features-item-thermometer {
  background-image: url("../img/features-thermometer.svg");
}

.blog-article {
  margin-bottom: 40px;
  padding: 23px 19px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/bg-article-strawberry.jpg");

  background-repeat: no-repeat;
  border-radius: 14px;
}

.blog-article h2 {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-article-title {
  margin: 0;
  width: 290px;
}

.blog-article-lead a:hover,
.blog-article-lead a:focus,
.blog-article-lead a:active {
  color: #e84d37;
}

.subscribe {
  margin-bottom: 40px;
  padding: 11px 20px 34px;

  color: #5a5a5a;

  border-radius: 14px;
}

.post-style {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f7f4), to(#f8f7f4)), repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #98cffe 7px, #98cffe 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: -webkit-linear-gradient(#f8f7f4, #f8f7f4), -webkit-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #98cffe 7px, #98cffe 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: -o-linear-gradient(#f8f7f4, #f8f7f4), -o-repeating-linear-gradient(315deg, #f8f7f4, #f8f7f4 7px, #98cffe 7px, #98cffe 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: linear-gradient(#f8f7f4, #f8f7f4), repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #98cffe 7px, #98cffe 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 6px solid transparent;
}

.subscribe-text {
  margin-bottom: 36px;
}

.subscribe-form-email {
  margin-right: 6px;

  width: 368px;
}

.subscribe-form-email::-webkit-input-placeholder {
  font-size: 16px;
}

.subscribe-form-email:-ms-input-placeholder {
  font-size: 16px;
}

.subscribe-form-email::-ms-input-placeholder {
  font-size: 16px;
}

.subscribe-form-email::placeholder {
  font-size: 16px;
}

.subscribe-submit {
  padding: 9px 19px 11PX;
}

.contacts-map-container {
  position: relative;
  display: table;
  margin: 0 auto;
}

.contacts-map {
  width: 1200px;
  height: 430px;
  margin: 0;

  background-color: #f7f1d9;
}

.office-address {
  position: absolute;
  top: 62px;
  right: 27px;

  width: 302px;
  padding: 29px 25px 31px;

  color: #323232;
  text-align: center;

  background-color: #fdfefe;

  border-radius: 15px;
}

.office-address-text {
  margin: 0;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.office-address-text:last-of-type {
  margin-bottom: 25px;
}

.office-address-info {
  display: inline-block;
  margin-top: 1px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
}

.office-address .info-phone {
  margin-top: 5px;
  margin-bottom: 3px;

  line-height: 22px;

  border: none;
}

.office-addres-button {
  width: 100%;
  padding: 9px 25px 11px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -22px;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 21px;
}

.breadcrumbs-item::after {
  content: "»";
  position: absolute;
  right: 7px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.page-title {
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.catalog-filter {
  margin-bottom: 40px;

  font-weight: 500;
}

.catalog-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 900px;
}

.filter-group {
  margin: 0;
  margin-right: 14px;
  margin-bottom: 16px;
  padding: 0;

  border: none;
}

.filter-group-panel {
  padding: 9px 16px;
  
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-group legend {
  margin-bottom: 6px;
  padding-left: 16px;
  
  font-size: 14px;
  line-height: 16px;
}

.filter-group label {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  cursor: pointer;
}

.filter-group [disabled],
.filter-group [disabled] + label {
  opacity: 0.4;
}

.filter-group-select-wrapper {
  position: relative;
}

.filter-group-select-wrapper::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;

  width: 10px;
  height: 10px;
  border-top: 10px solid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.filter-group-select-wrapper:hover::after,
.filter-group-select-wrapper:focus-within::after {
  color: #000000;
}

.filter-group-select {
  width: 194px;
  padding-right: 14px;

  font: inherit;
  line-height: 18px;
  color: inherit;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.filter-group-select::-ms-expand {
  display: none;
}

.filter-group-select:hover,
.filter-group-select:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-group-select option {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.group-cost-range legend {
  float: left;

  margin-right: 3px;
}

.group-cost-range-application {
  margin-bottom: 4px;
}

.group-cost-range,
.group-cost-range label,
.group-cost-range input {
  font-size: 14px;
  line-height: 16px;
  color: inherit;

  background-color: transparent;
  border: none;
}

.filter-cost-input {
  margin-right: -2px;

  width: 25px;
}

.filter-cost-input::-webkit-outer-spin-button,
.filter-cost-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-cost-input {
  -moz-appearance: textfield;
}

.filter-cost-input::-ms-clear {
  display: none;
}

.filter-range {
  position: relative;
  padding: 16px 22px;
  
  width: 220px;
}

.filter-range-scale {
  position: relative;
  
  width: 176px;
  height: 4px;
  background-color: rgba(248,247,244, 0.5);
}

.filter-range-bar {
  position: absolute;
  left: 16px;
  
  width: 107px;
  height: 4px;
  background-color: #f8f7f4;
}

.filter-range-toggle {
  position: absolute;
  top: 8px;
  
  width: 20px;
  height: 20px;
  
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.filter-range-min-toggle {
  left: 35px;
}

.filter-range-max-toggle {
  left: 133px;
}

.filter-group-radio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 6px;
}

.filter-group-radio-item {
  margin-right: 20px;
}

.filter-group-radio-item:last-child {
  margin-right: 0;
}

.filter-group-radio-input + label {
  position: relative;

  padding-left: 30px;
}

.filter-group-radio-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;

  width: 22px;
  height: 22px;

  border: 4px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-group-radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 8px;
  height: 8px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-group-radio-input:not([disabled]) + label:hover::before,
.filter-group-radio-input:not([disabled]) + label:hover::after {
  opacity: 1;
}

.group-fill {
  margin-bottom: 0;
}

.filter-group-checkbox-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
}

.filter-group-checkbox-item {
  margin-right: 20px;
}

.filter-group-checkbox-item:last-child {
  margin-right: 0;
}

.filter-group-checkbox-input + label {
  padding-left: 32px;
  position: relative;
}

.filter-group-checkbox-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.filter-group-checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  top: -0px;
  left: 0px;

  width: 28px;
  height: 20px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.filter-group-checkbox-input:not([disabled]) + label:hover::before,
.filter-group-checkbox-input:not([disabled]) + label:hover::after {
  opacity: 1;
}

.catalog-filter-form [type="submit"] {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 40px;
  margin-left: auto;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  width: 300px;
  margin-left: auto;

  text-align: right;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item {
  margin-right: 3px;
}

.pagination-item:first-child,
.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  width: 26px;
  height: 26px;

  padding: 5px 0;
  text-align: center;

  border-radius: 50%;
  border: none;
}

.pagination-link:hover,
.pagination-link:focus {
  color: inherit;

  background-color: rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.pagination-link:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination-arrow {
  display: block;
  width: 21px;
  height: 26px;

  background-image: url("../img/pagination-prev-next.svg");
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
}

.pagination-arrow:not([href]) {
  opacity: 0.2;
}

.pagination-arrow,
.pagination-arrow:hover,
.pagination-arrow:focus,
.pagination-arrow:active {
  background-color: transparent;
}

.pagination-arrow-prev {
  margin-right: 15px;

  background-position: center left;

  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pagination-arrow-next {
  margin-right: 0px;
}

.pagination-item .disabled,
.pagination-item .disabled:hover,
.pagination-item .disabled:focus,
.pagination-item .disabled:active {
  color: rgba(255, 255, 255, 0.2);
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 25px;
}

.inner-page .page-footer {
  margin-top: 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 267px;
  margin-right: 155px;
  padding-top: 18px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-right: 11px;
  margin-bottom: 11px;

  color: rgba(255, 255, 255, 0.8);

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
}

.social-button:hover,
.social-button:focus {
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.5);
}

.social-button:active {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button svg {
  fill: currentColor;
}

.footre-references-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 12px;
}

.footer-references {
  margin-right: 31px;
}

.footer-references:last-child {
  margin-right: 0;
}

.footer-references-link {
  font-size: 13px;
  line-height: 16px;
}

.reference-accent {
  position: relative;

  font-weight: 700;
}

.reference-accent::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 15px;

  background-image: url("../img/heart-small.svg");
  background-repeat: no-repeat;
}

.footer-copyrights {
  margin: 0;
  margin-left: auto;

  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.developer-logo {
  display: block;
  width: 108px;
  height: 39px;
  margin-bottom: 6px;
  padding-left: 2px;

  border: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  min-height: 100vh;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.3);
}

.application-form {
  position: fixed;
  top: 36.1%;
  left: 3px;
  
  display: block;
  width: 477px;
  margin: 0 auto;
  padding: 16px 24px 27px 24px;
  
  border-radius: 10px;
}

.application-form h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.application-form .lead {
  margin: 0;
  margin-bottom: 18px;
}

.application-form-input-string {
  margin: 0;
  margin-bottom: 20px;
}

.application-form-input {
  width: 267px;

  font-size: 16px;
}

.application-form-textarea-string {
  margin: 0;
  margin-bottom: 18px;
}

.application-form-textarea {
  width: 428px;
  height: 155px;
  padding-top: 8px;

  font-size: 16px;

  resize: none;
}

.application-form-button-string {
  margin: 0;
  margin-bottom: 2px;

  text-align: right;
}

.application-form-submit {
  margin-left: auto;
  padding: 9px 24px;
}

.popup-close {
  position: absolute;
  top: 16px;
  right: 15px;

  width: 18px;
  height: 18px;

  background-color: transparent;
  background-image: url("../img/close-x.svg");
  background-repeat: no-repeat;
  border: none;
}

.modal-show {
  display: block;

  -webkit-animation-name: modalAppear;
  animation-name: modalAppear;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.popup-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}