html {
  box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
  }

body {
  min-width: 1200px;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration-skip-ink: none;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(255, 188, 158, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 11px 25px 9px 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;

  background-image: linear-gradient(#f26843, #e74a35);
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  color: #fefefe;

  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px #ac1000;
}

.button:active {
  background-image: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

.button-light {
  display: inline-block;
  padding: 8px 27px 6px 29px;

  color: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.19);
  border: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: none;
}

.button-light:hover,
.button-light:focus {
  color: #323232;

  background-color: #ffffff;
  box-shadow: none;
}

.button-light:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.form-input {
  padding: 9px 14px;

  font-size: 14px;
  line-height: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.modified-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lead {
  color: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

a.lead {
  font-weight: 700;
  text-decoration: underline;

  border: none;
}

.dropdown-wrapper {
  position: relative;
}

.popup {
  z-index: 1;
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  padding: 20px 15px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown-wrapper:hover .popup {
  display: block;
}

/* delete */

/* .catalog-sub-menu {
  display: block;
} */

/*  ^^  */

.popup p {
  margin: 0;
}

.popup input::placeholder {
  color: #999999;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.layout-columns {
  display: flex;
  justify-content: space-between;
}

.layout-column {
  width: 560px;
}

.page-header {
  padding-top: 9px;
}

.main-navigation {
  display: flex;
}

.company-logo {
  margin-right: 10px;

  border: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.site-navigation-item {
  margin-right: 3px;
  margin-bottom: 10px;
}

.site-navigation-item:last-of-type {
  margin-right: 0;
}

.site-navigation-link {
  display: block;
  padding: 7px 12px 6px 13px;

  font-weight: 700;
  line-height: 18px;

  border: none;
  border-radius: 25px;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #000000;

  background-color: #f7f6f3;
  border: none;
}

.site-navigation-link:active {
  box-shadow: inset 0 2px 1px #696969;
}

.site-navigation-link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-link:hover span,
.site-navigation-link:focus span {
  border: none;
}

.site-navigation-current > a,
.site-navigation-current > a:not([href]):hover,
.site-navigation-current > a:not([href]):active {
  color: inherit;

  /* border: none; */
  background-color: #d07058;
  box-shadow: none;
}

.site-navigation-current span {
  border: none;
}

.catalog-sub-menu {
  top: 37px;
  left: -7px;

  width: 143px;
  padding: 2px 0 4px 0;

  font-size: 14px;
  line-height: 16px;
}

.catalog-sub-menu-item {
  margin: 3px 0;
}

.catalog-sub-menu a {
  display: block;
  width: 100%;
  padding: 6px 20px;
  
  border: none;
}

.catalog-sub-menu a:hover,
.catalog-sub-menu a:focus {
  color: inherit;

  background-color: #fbded8;
}

.catalog-sub-menu a:active {
  background-color: #f6b5a5;
}


.sub-menu-special {
  position: relative;

  margin-bottom: 10px;

  font-weight: 700;
}

.sub-menu-special::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 5px;

  width: 128px;
  height: 1px;

  background-color: #353535;
  opacity: 0.2;
}

.sub-menu-current,
.sub-menu-current:not([href]):hover {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-left: auto;
}

.user-navigation-item {
  margin-right: 10px;
}

.user-navigation-item:last-of-type {
  margin-right: 0;
}

.user-navigation-link {
  position: relative;

  display: block;
  padding: 8px 17px 8px 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: #000000;

  background-color: #f8f7f4;
}

.user-navigation-link:active {
  box-shadow: inset 0 2px 1px #696969;
}

.user-navigation-icon {
  position: absolute;

  top: 6px;
  left: 16px;
}

.user-navigation-link.search-link {
  width: 32px;
  height: 32px;
  padding: 0;
}

.user-navigation-link.search-link .user-navigation-icon {
  top: 7px;
  left: 8px;
}

.user-navigation-link:hover .user-navigation-icon path,
.user-navigation-link:hover .user-navigation-icon g,
.user-navigation-link:focus .user-navigation-icon path,
.user-navigation-link:focus .user-navigation-icon g,
.user-navigation-link:active .user-navigation-icon path,
.user-navigation-link:active .user-navigation-icon g {
  fill: #000000
}

.header-search-form {
  width: 341px;
}

.header-search-form input {
  width: 100%;
}

.header-login-form {
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.header-login-form input {
  width: 100%;
  margin-bottom: 20px;
}

.header-login-form .button {
  align-self: flex-start;
}

.login-form-links > li {
  max-width: 125px;
  margin-right: 3px;
  margin-bottom: -4px;
}

.login-form-links a {
  font-size: 13px;
  line-height: 24px;

  background-color: transparent;
  border-bottom-color: rgba(50, 50, 50, 0.3);
}

.login-form-links a:hover,
.login-form-links a:focus,
.login-form-links a:active {
  color: #e84d37;

  background-color: transparent;
  border-bottom-color: rgba(232, 77, 55, 0.3);
}

.user-cart.user-cart-filled {
  color: #323232;
  background-color: #f8f7f4;
}

.user-cart.user-cart-filled:hover,
.user-cart.user-cart-filled:focus {
  color: #323232;
}

.cart-contains {
  font-size: 13px;
  line-height: 16px;
}

.cart-contains-image img {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.cart-contains-amount span {
  color: rgba(50, 50, 50, 0.6);
}

.cart-contains-total {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.header-contacts-info {
  margin-top: -6px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contacts-info p {
  margin: 0;
  margin-bottom: 4px;
}

.contacts-info-phone a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;

  border: none;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}

.catalog-item {
  position: relative;

  width: 267px;
  margin-right: 26px;
  margin-bottom: 37px;

  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  margin: 0;
  margin-top: 8px;
  padding: 0 5px;

  font-size: inherit;
  vertical-align: bottom;
  font-weight: 500;
}

.catalog-item img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.catalog-item .price {
  position: absolute;
  top: 164px;
  left: -2px;

  width: 267px;
  height: 267px;

  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  text-align: left;
}

.catalog-item .cost{
  padding-left: 4px;
}

.catalog-item .weight {
  font-size: 30px;
}

.catalog-item .button {
  display: none;
}

.catalog-item-image {
  position: relative;
  margin: 0;
}

.catalog-item-hit .catalog-item-image::before {
  content: "Хит";

  position: absolute;

  width: 61px;
  height: 61px;

  text-indent: -9999px;

  background-image: url("../img/hit-mark.svg");
}

.features {
  padding: 25px 21px 15px 20px;
  margin-bottom: 40px;

  color: #323232;

  background-color: #e9dbbe;
  background-image: url("../img/bg-wafer.jpg");
  border-radius: 14px;
}

.features .lead {
  margin: 0;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-item {
  width: 540px;
  margin-bottom: 9px;
  padding: 13px 5px 0px 56px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-ice-cream {
background-image: url("../img/features-icecream.svg");
}

.features-item-cow {
  background-image: url("../img/features-cow.svg");
}

.features-item-natural {
  background-image: url("../img/features-leaf.svg");
}

.features-item-thermometer {
  background-image: url("../img/features-thermometer.svg");
}

.blog-article {
  margin-bottom: 40px;
  padding: 23px 19px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/bg-article-srawberry.jpg");
  border-radius: 14px;
}

.blog-article h2 {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-article-title {
  margin: 0;
  width: 290px;
}

.blog-article-lead a:hover,
.blog-article-lead a:focus,
.blog-article-lead a:active {
  color: #e84d37;
}

.subscribe {
  margin-bottom: 40px;
  padding: 11px 20px 35px;

  color: #5a5a5a;

  border-radius: 14px;
}

.post-style {
  background-image: linear-gradient(#f8f7f4, #f8f7f4), repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #98cffe 7px, #98cffe 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  border: 6px solid transparent;
}

.subscribe-text {
  margin-bottom: 36px;
}

.subscribe-form-email {
  margin-right: 6px;

  width: 368px;
}

.subscribe-form-email::placeholder {
  font-size: 16px;
}

.subscribe-submit {
  padding: 9px 19px;

  vertical-align: top;
}

.contacts-map {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
}

/* -- -- -- -- -- Inner page -- -- -- -- -- */

.breadcrumbs {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
}

.page-title {
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.catalog-filter {
  margin-bottom: 40px;

  font-weight: 500;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 879px;
}

.filter-group {
  border: none;
}

.filter-group legend {
  font-size: 14px;
  line-height: 16px;
}

.filter-group-select {
  font: inherit;
  line-height: 18px;
  color: inherit;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 20px;
}

.filter-group-select:hover,
.filter-group-select:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-group-select option {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.filter-group label {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.group-cost-range,
.group-cost-range label,
.group-cost-range input {
  font-size: 14px;
  line-height: 16px;
  color: inherit;

  background-color: transparent;
  border: none;
}

.pagination-list {
  width: 300px;
  margin-left: auto;

  text-align: right;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item a {
  border: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: inherit;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination-previous a,
.pagination-previous a:hover,
.pagination-previous a:focus,
.pagination-previous a:active,
.pagination-next a,
.pagination-next a:hover,
.pagination-next a:focus,
.pagination-next a:active {
  background-color: transparent;
}

.pagination-item .disabled,
.pagination-item .disabled:hover,
.pagination-item .disabled:focus,
.pagination-item .disabled:active {
  color: rgba(255, 255, 255, 0.2);
}

/* -- -- -- -- -- Footer -- -- -- -- -- */

.page-footer {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 25px;
}

.inner-page .page-footer {
  margin-top: 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 267px;
  margin-right: 155px;
  padding-top: 17px;
}

.social-button {
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 11px;
  margin-bottom: 11px;

  color: rgba(255, 255, 255, 0.8);

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
}

.social-button:active {
  border-color: rgba(255, 255, 255, 0.5);
}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
}

.social-button:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button img {
  opacity: 0.8;
}

.social-button:hover img {
  opacity: 1;
}

.social-button:active img {
  opacity: 0.9;
}

.footre-references-wraper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 13px;
}

.footer-references {
  margin-right: 31px;
}

.footer-references:last-child {
  margin-right: 0;
}

/* .footer-references-item {
  margin-bottom: 0px;
} */

.footer-references-link {
  font-size: 13px;
  line-height: 16px;
}

.reference-accent {
  position: relative;

  font-weight: 700;
}

.reference-accent::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 15px;

  background-image: url("../img/heart-small.svg");
  background-repeat: no-repeat;
}

.footer-copyrights {
  margin: 0;
  margin-left: auto;

  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.developer-logo {
  display: block;
  width: 108px;
  height: 39px;
  margin-bottom: 6px;

  border: none;
}

.modal-write-us {
  width: 477px;
  margin: 0 auto;
  padding: 15px 24px 27px 24px;

  border-radius: 10px;
}

.modal-write-us h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
